<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghostriley.sgt.ghostchat" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.ghostriley.sgt.ghostchat.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ghostriley.sgt.ghostchat.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GhostChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.LoginActivity"
            android:label="Login Now!"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.SignUpActivity"
            android:label="Sign Up!"
            android:parentActivityName=".UI.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.EditFriendsActivity"
            android:label="@string/title_activity_edit_friends"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".UI.MainActivity" />

        <activity
            android:name=".UI.ChooseRecipientsActivity"
            android:label="@string/title_activity_choose_recipients"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.ViewImageActivity"
            android:label="View message-"
            android:parentActivityName=".UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.ChangePasswordActivity"
            android:label="Change Password:"
            android:parentActivityName=".UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ghostriley.sgt.ghostchat.UI.MainActivity" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ghostriley.sgt.ghostchat" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UI.RecoverPasswordActivity"
            android:label="Recover Password"
            android:parentActivityName=".UI.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ghostriley.sgt.ghostchat.UI.LoginActivity" />
        </activity>
        <activity
            android:name=".UI.SendTextActivity"
            android:label="Send a text message:"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.SendMessageActivity"
            android:label="Send Message To:"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name=".UI.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ghostriley.sgt.ghostchat.UI.MainActivity" />
        </activity>
    </application>

</manifest>
